<div class="topbar">
  <img class="icon" src="/assets/images/initial_b.png">
  <nav>
    <div class="local">
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
    <div class="external">
      <a href="https://github.com/benjaminmadisen"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/ben-white-74379492/"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </nav>
</div>
<hr class="solid">